
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}


.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    padding: 18px 36px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}
.color-2{
    color: #0008;
}



.section-title{
    font-size: 35px;
    font-weight: 800;
}

.section-description{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
}

.section-title--two{
    font-size: 20px;
    font-weight: 800;
}

.section-description--two{
    font-size: 16px;
    color: #757575;
    font-weight: 400;
}

.card{
    padding: 2.2rem 1.3rem;
    box-shadow: 0 0 12px #0002;
    border-radius: 6px;
}

/* nav style */

.header{
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left top;
    /* padding-left: 1250px; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px;
}


nav .nav__title{
    font-size: 45px;
    font-weight: 700;

}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    margin-right: 50px;
}
nav li a{
    color: #0007;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;

}

/* Banar style */
.baner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 150px;
}

.baner-content{
    max-width: 654px;
}

.banar-text-wlcm{
    font-size: 45px;
    font-weight: 700;
}

.baner-title{
    font-size: 84px;
    font-weight: bold;
    margin: 1.2rem 0;

}

.baner-description{
    font-size: 18px;
    margin-bottom: 1.875rem;
}
.baner-content .btn-primary+.btn-primary{
    margin-left: 2rem;
}

.banar-profile-pic{
    width: 584px;
}
/* main section  */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */

#about{
    padding: 125px 152px;
    margin: 1rem 0;
    
}

.about-content{
    border: 2px solid #0007;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 1rem;
    background-color: #fff;
}

.about-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-items .about-item--title{
    font-size: 20px;
    color: #0009;
}
.about-items .about-item--description{
    font-size: 20px;
    font-weight: 800;
}

/* Task section  */
#task{
    margin:100px 0;
}

#task .task-content{
    text-align: center;
}

#task .section-description{
    margin: 30px 115px 50px;
}

.task-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.task-card .card{
    flex-basis: 200px;
    flex-grow: 1;
}

.task-card .card > * + *{
    margin-top: 25px;
}


.card .card-content > * + *{
    margin-top: 20px;
}


/* Resume part */

/* resume reuse part start here */
#resume .resume-content{
    --h4: 30px;
    --h5: 25px;
    --h6: 20px;

}

.education-title, .skill-title{
    font-size: var(--h4);
    font-weight: 800;
}

.resume-title{
    font-size: var(--h5);
    font-weight: 800;
    color: #474747;
}


.resume-year{
    font-size: var(--h6);
    font-weight: 700;
    color: #757575;
    margin: 10px 0 20px;
}

.resume-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    padding-inline-end: 15px;
}

/* resume reuse part end here */

#resume{
    margin: 5rem 0;
}

#resume .section-title{
    text-align: center;
}

#resume .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}



.resume-content{
    margin: 83px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.education , .skill{
    flex-basis: 511px;
}

.education > *, .skill > * {
    margin-top:30px;
}

